<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="OASClient" value="../OASClientApi/musicdataservice-client/src/ClientApi.MusicDataServiceClientApi/bin/Release"/>
  </packageSources>
</configuration>